* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

li{
    text-align: center;
}

.content{
    margin: 20px;
    width: auto;
    height: auto;
    background-color: lightgrey;
    padding: 5px 20px;
}
